<form class="ceda" data-ceda>
	<p class="ceda-error" role="alert" hidden></p>
	<p>Méthode de Chiffrement : </p>
	<!-- Méthode de Chiffrement -->
	<table style="width:100%">
		<tr>
			<th>
				<input type="radio" id="TypeCaesar" name="Choix Chiffrement" value="Radio César" checked>
				<label for="TypeCaesar">Code de César</label>
			</th>
			<th>
				<input type="radio" id="TypeGridH" name="Choix Chiffrement" value="Radio Grille Horizontale">
				<label for="TypeGridH">Grille Horizontale</label>
			</th>
			<th>
				<input type="radio" id="TypeGridV" name="Choix Chiffrement" value="Radio Grille Verticale">
				<label for="TypeGridV">Grille Verticale</label>
			</th>
			<th>
				<input type="radio" id="TypeParticular" name="Choix Chiffrement" value="Radio Particulier">
				<label for="TypeParticular">Chiffrements Particuliers</label>
			</th>
		</tr>
	</table>
	<!-- Options de la méthode -->
	<table style="width:100%">
		<tr id="SettingCaesarRow">
			<th width="15%" align="left"><label for="SettingCaesar">Décalage</label></th>
			<td>
				<input type="number" step="1" style="width:12%" id="SettingCaesar" value="3">
			</td>
		</tr>
		<tr id="SettingGridRow" hidden>
			<th width="15%" align="left"><label for="SettingGrid">Mot clef</label></th>
			<td>
				<input type="text" name="clef" size="50" id="SettingGrid" value="mot clef">
			</td>
		</tr>
		<tr id="SettingParticularRow" hidden>
			<th width="15%" align="left"><label for="SettingParticular">Chiffrement</label></th>
			<td>
				<select id="SettingParticular">
					<option>Atbash</option>
					<option>Albam</option>
					<option>Atbah</option>
					<option>Kendorimien</option>
				</select>
			</td>
		</tr>
	</table>
	<!-- Grille de Codage -->
	<p>Grille de Chiffrement : </p>
	<table style="width:100%" border="1">
		<tr align="center">
			<th width="15%" align="left">Original</th>
			<td>A</td>
			<td>B</td>
			<td>C</td>
			<td>D</td>
			<td>E</td>
			<td>F</td>
			<td>G</td>
			<td>H</td>
			<td>I</td>
			<td>J</td>
			<td>K</td>
			<td>L</td>
			<td>M</td>
			<td>N</td>
			<td>O</td>
			<td>P</td>
			<td>Q</td>
			<td>R</td>
			<td>S</td>
			<td>T</td>
			<td>U</td>
			<td>V</td>
			<td>W</td>
			<td>X</td>
			<td>Y</td>
			<td>Z</td>
		</tr>
		<tr align="center" bgcolor="#F0F0F0">
			<th width="15%" align="left">Chiffrement</th>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
			<td data-ceda-letter></td>
		</tr>
	</table>

	<p>Chiffrement : </p>
	<table style="width:100%">
		<tr>
			<th width="15%" align="left">Casse</th>
			<td>
				<input type="radio" id="TypeCasseNoChange" name="Choix Casse" value="Aucun Changement" checked>
				<label for="TypeCasseNoChange">Aucun Changement</label>
			</td>
			<td>
				<input type="radio" id="TypeCasseUpper" name="Choix Casse" value="Majuscule">
				<label for="TypeCasseUpper">Majuscule</label>
			</td>
			<td>
				<input type="radio" id="TypeCasseLower" name="Choix Casse" value="Minuscule">
				<label for="TypeCasseLower">Minuscule</label>
			</td>
			<td>
				<input type="radio" id="TypeCasseRandom" name="Choix Casse" value="Aléatoire">
				<label for="TypeCasseRandom">Aléatoire</label>
			</td>
		</tr>
		<tr>
			<th width="15%" align="left">Espacement</th>
			<td>
				<input type="radio" id="TypeSpaceNoChange" name="Choix Espace" value="Aucun Changement" checked>
				<label for="TypeSpaceNoChange">Aucun Changement</label>
			</td>
			<td>
				<input type="radio" id="TypeSpace4" name="Choix Espace" value="Bloc4">
				<label for="TypeSpace4">Bloc de 4 Caractères</label>
			</td>
			<td>
				<input type="radio" id="TypeSpace5" name="Choix Espace" value="Bloc5">
				<label for="TypeSpace5">Bloc de 5 Caractères</label>
			</td>
			<td>
				<input type="radio" id="TypeSpaceRandom" name="Choix Espace" value="Aléatoire">
				<label for="TypeSpaceRandom">Aléatoire</label>
			</td>
		</tr>
	</table>
	<p>Saisissez votre texte dans l’une des deux zones : l’autre se met à jour automatiquement.</p>
	<table style="width:100%">
		<tr>
			<th><label for="Original_TextArea">Texte original</label></th>
			<th><label for="Encrypting_TextArea">Texte chiffré</label></th>
		</tr>
		<tr>
			<th style="width:50%">
				<textarea style="width:100%" id="Original_TextArea" placeholder="Texte à chiffrer"></textarea>
			</th>
			<th style="width:50%">
				<textarea style="width:100%" id="Encrypting_TextArea" placeholder="Texte à déchiffrer"></textarea>
			</th>
		</tr>
	</table>
</form>