<section class="cv">
		<h2 class="cv-title"><i class="fa fa-briefcase"></i>Experiences</h2>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Ingénieur R&D</h3>
					<div class="xp-time">Octobre 2018 - Aujourd'hui</div>
				</div>
				<div class="xp-company">Équipe POTIOC-Inria Bordeaux Sud-Ouest, 33405 Talence</div>
			</div>
			<div class="xp-details">
				<p>Ingénieur R&D sur OpenViBE, logiciel libre pour les Interfaces Cerveau Ordinateur - BCI. Les trois premières années, développement et maintenance du logiciel en solo au départ du précédent ingénieur. En plus des développements de nouveaux algorithmes, refonte totale du code à des fins de modernisation, stabilité et facilité de contribution pour de nouveaux développeurs.</p>
			</div>
		</div>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Développeur/Chercheur informatique</h3>
					<div class="xp-time">Avril 2018 - Septembre 2018</div>
				</div>
				<div class="xp-company">Équipe SANPSY-CHU Pellegrin, 33076 Bordeaux / Équipe POTIOC-Inria Bordeaux Sud-Ouest, 33405 Talence</div>
			</div>
			<div class="xp-details">
				<p>Stage de fin de Master 2 de 6 mois sur les Interfaces Cerveau Ordinateur - BCI avec pour sujet "Conception et Implémentation d'un protocole de neurofeedback EEG avec le logiciel OpenViBE".</p>
			</div>
		</div>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Développeur/Chercheur informatique</h3>
					<div class="xp-time">Mai 2017 - Août 2017</div>
				</div>
				<div class="xp-company">FabZat, 33130 Bègles</div>
			</div>
			<div class="xp-details">
				<p>Stage optionnel de 4 mois avec pour but de commencer un projet de modélisation en 3D de visage le plus précis possible d'un utilisateur au travers d'une application mobile. A la fin du stage, Les différentes zones du visages étaient précisément localisées à partir d'une photo de face.</p>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Conseiller en architecture et aménagement d'intérieur</h3>
					<div class="xp-time">Avril 2011 - Septembre 2016</div>
				</div>
				<div class="xp-company">Idéo9</div>
			</div>
			<div class="xp-details">
				<p>Création d’une Auto Entreprise (Idéo9 Conseil en décoration et aménagement d’espace intérieur). Proposant tout un panel de service lié à l'aménagement intérieur destiné aux particuliers et aux confrères voulant soutraiter.</p>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Architecte 3D</h3>
					<div class="xp-time">Octobre 2009 - Avril 2011</div>
				</div>
				<div class="xp-company">Le 4 Architecture d’Intérieur, 03200 Vichy</div>
			</div>
			<div class="xp-details">
				<p>CDI en temps que Graphiste, Architecte 3D et au fil du temps étendu aux différents postes utiles au sein d'un cabinet d'architecture (management, gestion de chantier, webmaster...). Les 8 derniers mois effectués en télétravail et retraite du dirigeant en Avril 2011.</p>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Graphiste et Architecte 3D</h3>
					<div class="xp-time">Juillet 2008 - Septembre 2009</div>
				</div>
				<div class="xp-company">Le 4 Architecture d’Intérieur, 03200 Vichy</div>
			</div>
			<div class="xp-details">
				<p>Licence en alternance de 15 mois en temps que Graphiste et Architecte 3D.</p>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Graphiste 3D</h3>
					<div class="xp-time">Avril 2008 - Mai 2008</div>
				</div>
				<div class="xp-company">Le 4 Architecture d’Intérieur, 03200 Vichy</div>
			</div>
			<div class="xp-details">
				<p>Stage de 10 semaines dans un cabinet d’architecture En temps que Graphiste 3D.</p>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Mise en rayon</h3>
					<div class="xp-time">Juillet 2007 - Août 2007</div>
				</div>
				<div class="xp-company">SPAR, 40660 Messanges</div>
			</div>
			<div class="xp-details">
				<p>Travail saisonnier pendant un mois dans un Super Marché (SPAR) à Messanges 40660.</p>
			</div>
		</div>
		
	</section><!--//section-->