<section class="cv">
		<h2 class="cv-title"><i class="fa fa-briefcase"></i>Experiences</h2>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Ingénieur de Recherche</h3>
					<div class="xp-time">Mai 2023 - Décembre 2023</div>
				</div>
				<div class="xp-company">Équipe SANPSY-CHU Pellegrin, 33076 Bordeaux</div>
			</div>
			<div class="xp-details">
				<p>Ingénieur de recherche spécialiste en traitement du signal.</p>
				<ul>
					<li>Élaboration de scripts et traitements pour analyser des résultats de recherche : <code class="language-plaintext highlighter-rouge">Python, numpy, matplotlib, pandas, seaborn, scipy</code></li>
					<li>Élaboration d'une solution complète de traitement de données physiologiques en vue de trouver des marqueurs physiologiques concernant l'addiction : <code class="language-plaintext highlighter-rouge">Python, numpy, matplotlib, pandas, seaborn, scipy</code></li>
					<li>Gestion de divers problèmes d'analyses pour les chercheurs et doctorants du site</li>
					<li>Vulgarisation sur Python : <code class="language-plaintext highlighter-rouge">Google Slides</code></li>
					<li>Aide à la rédaction d'articles scientifiques</li>
				</ul>
			</div>
		</div>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Ingénieur R&D</h3>
					<div class="xp-time">Octobre 2018 - Décembre 2022</div>
				</div>
				<div class="xp-company">Équipe POTIOC-Inria Bordeaux Sud-Ouest, 33405 Talence</div>
			</div>
			<div class="xp-details">
				<p>Ingénieur R&D sur OpenViBE, logiciel libre pour les Interfaces Cerveau Ordinateur - BCI.</p>
				<ul>
					<li>Gestion de la Roadmap (création, suivi, présentation) de la suite logicielle : <code class="language-plaintext highlighter-rouge">Google Slides, Trello</code></li>
					<li>Gestion de la maintenabilité de la solution : <code class="language-plaintext highlighter-rouge">Gitlab, Jenkins</code></li>
					<li>Mise en place et application de coding rules sur l'ensemble de la solution : <code class="language-plaintext highlighter-rouge">Visual Studio Community, Resharper</code></li>
					<li>Réduction de la complexité architecturale de la solution : <code class="language-plaintext highlighter-rouge">C++, C, GTK</code></li>
					<li>Gestion du forum avec des demandes internationales</li>
					<li>Veille sur les procédés de traitement de signaux EEG</li>
					<li>Développement de nouvelles features, algorithmes, feedback visuels et correction de bugs : <code class="language-plaintext highlighter-rouge">Matlab, R, C++, C, GTK</code></li>
					<li>Adaptation d'algorithmes existants, trop chronophages pour du temps réel, afin de les rendre utilisables en ligne.</li>
					<li>Gamification de feedbacks visuels : <code class="language-plaintext highlighter-rouge">LSL, C#, Unity</code></li>
					<li>Création de protocoles de Neurofeedback destinés à la recherche : <code class="language-plaintext highlighter-rouge">OpenViBE</code></li>
					<li>Vulgarisation d'algorithmes de traitements du signal : <code class="language-plaintext highlighter-rouge">Google Slides</code></li>
					<li>Aide à la rédaction d'articles scientifiques : <code class="language-plaintext highlighter-rouge">Overleaf, LaTeX</code></li>
				</ul>
			</div>
		</div>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Développeur/Chercheur informatique</h3>
					<div class="xp-time">Avril 2018 - Septembre 2018</div>
				</div>
				<div class="xp-company">Équipe SANPSY-CHU Pellegrin, 33076 Bordeaux / Équipe POTIOC-Inria Bordeaux Sud-Ouest, 33405 Talence</div>
			</div>
			<div class="xp-details">
				<p>Stage de fin de Master 2 de 6 mois sur les Interfaces Cerveau Ordinateur - BCI avec pour sujet "Conception et Implémentation d'un protocole de neurofeedback EEG avec le logiciel OpenViBE".</p>
				<ul>
					<li>Découverte du monde de la recherche publique médicale en particulier les neurosciences et les Interfaces Cerveau Ordinateur.</li>
					<li>Élaboration d'un protocole de Neurofeedback afin de diminuer la Somnolence Diurne Excessive.</li>
					<li>Création d'éléments additionnels à la solution OpenViBE : <code class="language-plaintext highlighter-rouge">Visual Studio Community, Resharper, C++, C, GTK, OpenViBE</code></li>
					<li>Prétests sur un corpus de 8 volontaires afin de valider le protocole et la facilité d'utilisation pour des personnes non initiés</li>
					<li>Découverte de la rédaction d'articles scientifiques : <code class="language-plaintext highlighter-rouge">Overleaf, LaTeX</code></li>
				</ul>
			</div>
		</div>
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Développeur/Chercheur informatique</h3>
					<div class="xp-time">Mai 2017 - Août 2017</div>
				</div>
				<div class="xp-company">FabZat, 33130 Bègles</div>
			</div>
			<div class="xp-details">
				<p>Stage optionnel de 4 mois avec pour but de commencer un projet de modélisation en 3D de visage le plus précis possible d'un utilisateur au travers d'une application mobile. À la fin du stage, les différentes zones du visage étaient précisément localisées à partir d'une photo de face.</p>
				<ul>
					<li>Découverte du monde des startup et de la recherche.</li>
					<li>Élaboration d'un processus de traitement afin de permettre la modélisation d'un visage en vue d'une impression 3D à partir d'une photo de type photomaton.</li>
					<li>Création d'un processus permettant d'identifier chaque zone d'un visage précisément sur un corpus de plusieurs dizaines de milliers de photos venant du monde entier : <code class="language-plaintext highlighter-rouge">Visual Studio Community, Resharper, C++, OpenCV</code>
						<ul>
							<li>Gestion des différentes carnations</li>
							<li>Gestion des différentes qualités de photos.</li>
							<li>Détection de la position et forme des yeux, nez, bouche.</li>
							<li>Récupération des éléments colorimétriques tels que la carnation, la couleur des yeux, cheveux, lèvres</li>
							<li>Préparation des étapes suivantes pour un futur doctorant/chercheur/ingénieur.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Conseiller en architecture et aménagement d'intérieur</h3>
					<div class="xp-time">Avril 2011 - Septembre 2016</div>
				</div>
				<div class="xp-company">Idéo9</div>
			</div>
			<div class="xp-details">
				<p>Création d’une Auto Entreprise (Idéo9 Conseil en décoration et aménagement d’espace intérieur). Proposant tout un panel de service lié à l'aménagement intérieur destiné aux particuliers et aux confrères voulant sous-traiter.</p>
				<ul>
					<li>Gestion d'entreprise.</li>
					<li>Gestion de l'aspect commercial et la recherche de clients.</li>
					<li>Création de plans 2D pour particuliers et entreprises : <code class="language-plaintext highlighter-rouge">Graphisoft Archicad</code></li>
					<li>Création de vues 3D : <code class="language-plaintext highlighter-rouge">Autodesk 3DS Max, Chaos Group V-Ray</code></li>
					<li>Suivi de chantier.</li>
				</ul>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Architecte 3D</h3>
					<div class="xp-time">Octobre 2009 - Avril 2011</div>
				</div>
				<div class="xp-company">Le 4 Architecture d’Intérieur, 03200 Vichy</div>
			</div>
			<div class="xp-details">
				<p>CDI en temps que Graphiste, Architecte 3D et au fil du temps étendu aux différents postes utiles au sein d'un cabinet d'architecture (management, gestion de chantier, webmaster...). Les 8 derniers mois effectués en télétravail et retraite du dirigeant en Avril 2011.</p>
				<ul>
					<li>Création de plans 2D pour particuliers et entreprises : <code class="language-plaintext highlighter-rouge">Graphisoft Archicad</code></li>
					<li>Création de vues 3D : <code class="language-plaintext highlighter-rouge">Autodesk 3DS Max, Chaos Group V-Ray</code></li>
					<li>Suivi de chantier.</li>
				</ul>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Graphiste et Architecte 3D</h3>
					<div class="xp-time">Juillet 2008 - Septembre 2009</div>
				</div>
				<div class="xp-company">Le 4 Architecture d’Intérieur, 03200 Vichy</div>
			</div>
			<div class="xp-details">
				<p>Licence en alternance de 15 mois en temps que Graphiste et Architecte 3D.</p>
				<ul>
					<li>Création de plans 2D pour particuliers et entreprises : <code class="language-plaintext highlighter-rouge">Graphisoft Archicad</code></li>
					<li>Création de vues 3D : <code class="language-plaintext highlighter-rouge">Autodesk 3DS Max, Chaos Group V-Ray</code></li>
				</ul>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Graphiste 3D</h3>
					<div class="xp-time">Avril 2008 - Mai 2008</div>
				</div>
				<div class="xp-company">Le 4 Architecture d’Intérieur, 03200 Vichy</div>
			</div>
			<div class="xp-details">
				<p>Stage de 10 semaines dans un cabinet d’architecture En temps que Graphiste 3D.</p>
				<ul>
					<li>Création de plans 2D pour particuliers et entreprises : <code class="language-plaintext highlighter-rouge">Graphisoft Archicad</code></li>
					<li>Création de vues 3D : <code class="language-plaintext highlighter-rouge">Autodesk 3DS Max, Chaos Group V-Ray</code></li>
				</ul>
			</div>
		</div>
		
		<div class="xp-item">
			<div class="xp-meta">
				<div class="xp-upper-row">
					<h3 class="xp-title">Mise en rayon</h3>
					<div class="xp-time">Juillet 2007 - Août 2007</div>
				</div>
				<div class="xp-company">SPAR, 40660 Messanges</div>
			</div>
			<div class="xp-details">
				<p>Travail saisonnier pendant un mois dans un Super Marché (SPAR) à Messanges 40660.</p>
			</div>
		</div>
		
	</section><!--//section-->