<head>
	<meta charset="utf-8">
	<!-- Applique le choix mémorisé avant le premier affichage. -->
	<script src="{{ "/assets/js/theme.js" | relative_url }}"></script>
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description | default: site.description | escape }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="{{ page.url | absolute_url }}">
	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#311e3e">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#311e3e">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/fontawesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/solid.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/regular.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/brands.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	{% if page.layout == "post" or content contains "highlighter-rouge" or content contains 'class="highlight"' %}
	<link rel="stylesheet" href="{{ "/assets/css/highlight.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if page.layout == "post" %}
	<link rel="stylesheet" href="{{ "/assets/css/toc.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if page.permalink == "/cv/" %}
	<link rel="stylesheet" href="{{ "/assets/css/cv.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if content contains "data-lightbox" %}
	<link rel="stylesheet" href="{{ "/assets/css/lightbox.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if content contains "data-ceda" %}
	<link rel="stylesheet" href="{{ "/assets/css/ceda.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if content contains "PigPen" or content contains "Braille" or content contains "Morse" %}
	<link rel="stylesheet" href="{{ "/assets/css/fonts.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if content contains 'class="carousel"' %}
	<link rel="stylesheet" href="{{ "/assets/css/carousel.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if page.permalink == '/portfolio/' %}
	<link rel="stylesheet" href="{{ "/assets/css/portfolio.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if page.permalink == '/publications/' %}
	<link rel="stylesheet" href="{{ "/assets/css/publications.css" | prepend: site.baseurl }}">
	{% endif %}
	{% if content contains "math/tex" or content contains '\(' or content contains '\[' or page.mathjax %}
	<!-- MathJax, uniquement pour les pages contenant des formules. -->
	<script defer src="{{ "/assets/js/mathjax-config.js" | prepend: site.baseurl }}"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4.1.3/tex-chtml.js"></script>
	{% endif %}

	<link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
</head>
