.articles-item {
	position: relative;
	overflow: hidden;
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 2px;
	margin-top: 5px;
}

.articles-title {
	font-weight: bold;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

.articles-infos {
	color: #8f98a3;
}

.articles-link{
	position: absolute;
	right: 0;
	bottom: 5px;
}